@keyframes waitingscreen {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
@keyframes shadow {
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}
  @keyframes opacity {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }
  .appears-with-opacity {
	    animation: opacity 1s both;
}
